@tailwind base;
@tailwind components;
@tailwind utilities;

$scan_width: 375px !default;

:root {
  --base-color: rgb(234 88 12);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.t {
  transition: all;
}

@keyframes filter {
  0% {
    filter: drop-shadow(0 0px 4px #fff);
  }
  50% {
    filter: drop-shadow(0 0px 4px var(--base-color));
  }
  100% {
    filter: drop-shadow(0 0px 4px #fff);
  }
}

.animate-loop {
  animation: filter 5s infinite;
}

.expand {
  @apply max-w-[80px] md:max-w-[135px] mx-[4px] text-ellipsis
}

.backlight {
  height: 1200px;
  width: 1600px;
  background-color: transparent; /*rgb(24 24 27); */
  position: absolute;
  top: -100px;
  right: -600px;
  transform: rotate(15deg);
  border-left: 8px solid var(--base-color);
}

.digital {
  // background-image: url('../../public/images/gg.png');
  background-image: url('../../public/images/agg.png');
  background-repeat: no-repeat;
}

.dust {
  background-image: url('../../public/images/agg.png');
}

@keyframes dim {
  0% {
    filter: contrast(100%);
  }
  50% {
    filter: contrast(150%);
  }
  100% {
    filter: contrast(100%);
  }
}

.mosaic {
  background-image: url('../../public/images/dark-mosaic.png');
}

.anchor-nav li {
  position: relative;
  &:hover {
    &::after {
      width: 100%;
    }
  }
  &::after {
    content:'';
    transition: all;
    transition-duration: 300ms;
    height: 5px;
    border-radius: 2px;
    width: 10px;
    background-color: orangered;
    position: absolute;
    bottom: -8px;
    left: 0;
  }
}

@mixin scan_effect($width: 375px) {
  content: attr(data-text);
  position: absolute;
  color: orangered;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid orangered;
  filter: drop-shadow(0 0 20px orangered);
  @include scan_animate($width)
}

@mixin scan_animate($width) {
  animation: animate 5s ease-in-out infinite;
  @keyframes animate {
    0% {
      width: 0;
    }
    50% {
      width: $width;
    }
    100% {
      width: 5px;
    }
  }
}

.name-effect::before {
  @include scan_effect();
}

.name-effect-shorted::before {
  @include scan_effect(225px);
}

.marquee {
  white-space: nowrap;
  display: inline-block;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}